pkgbase = python-sphinxcontrib-devhelp
	pkgdesc = Sphinx extension which outputs Devhelp document
	pkgver = 1.0.6
	pkgrel = 3
	url = https://github.com/sphinx-doc/sphinxcontrib-devhelp
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-devhelp.git#tag=1.0.6
	b2sums = 66e147517361ff330ca58b4762962121307658c3df7093e3059f96910215d3addaaa9d4fde8480589cccff553db00cbaa958ace66958e5b44cec49dc407047dd

pkgname = python-sphinxcontrib-devhelp
